- name: Install common packages
  become: true
  ansible.builtin.apt:
    name:
      - gpick
      - gparted
      - tmux
      - nala
      - samba
      - curl
      - wget
      - fastfetch
      - stow
      - cmake
      - g++
      - pkg-config
      - libfreetype6-dev
      - libfontconfig1-dev
      - libxcb-xfixes0-dev
      - libxkbcommon-dev
      - python3
      - fzf
      - zsh
      - uidmap
      - imagemagick
      # Virtual machine libraries
      - virt-manager
      - qemu-kvm
      - libvirt-daemon-system
      - libvirt-clients
      - bridge-utils
      # Japanese libraries
      - fonts-noto-cjk
      - fcitx5-mozc 
      - fcitx5-frontend-gtk3
    update_cache: yes

- name: Upgrade all packages
  become: true
  ansible.builtin.apt:
    upgrade: yes
